<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">How we can help you?</h2>
                    <h3 class="section-subheading text-muted">
                        We can help you to increase you efficiency and decrease 
                        your downtime with using IoT and AI. Also your quality and 
                        industrial compliance. We got you covered. 
                        Just Contact us to get started with your project.
                    </h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-wifi fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">IoT Development</h4>
                    <p class="text-muted">We provide IoT solutions to industries as Tea Manufacturing & Packaging, Apparel,Pharmaceutical, Hospitality Management.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Artificial Intelligence</h4>
                    <p class="text-muted">We provide artificial intelligence solutions to industrial operations in services such as Predictive Maintenance, Inventory Management and Predictive analysis for decision making.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-flask fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Research & Development</h4>
                    <p class="text-muted">Our research & development lab focuses on coming up with products that help industries to sustain and increase their efficiency. Also for domestic IoT products that helps in day to day human life.</p>
                </div>
            </div>
        </div>
    </section>